doctype html
html(lange='en', ng-app='myApp')
	head
		meta(charset='UTF-8')
		title= title
		script(src='/components/angular/angular.min.js')
		script(src='/js/controllers.js')
		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/js/jquery.textHighlighter.min.js')
		script(src='/js/app.js')
		link(rel='stylesheet', href='/css/style.css')
	body
		block content